
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498704294728'); /* IE9*/
  src: url('iconfont.eot?t=1498704294728#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498704294728') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498704294728') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498704294728#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-legend:before { content: "\e634"; }

.icon-iconfont-yundonghuwa:before { content: "\e601"; }

.icon-ico-management:before { content: "\e602"; }

.icon-ico-search:before { content: "\e603"; }

.icon-ico-internal:before { content: "\e604"; }

.icon-ico-signout:before { content: "\e605"; }

.icon-ico-my:before { content: "\e606"; }

.icon-ico-reports:before { content: "\e607"; }

.icon-ico-external:before { content: "\e609"; }

.icon-close:before { content: "\e612"; }

.icon-refresh:before { content: "\e613"; }

.icon-share-folder-open:before { content: "\e60d"; }

.icon-folder-open:before { content: "\e60e"; }

.icon-share-folder-close:before { content: "\e60f"; }

.icon-folder-close:before { content: "\e610"; }

.icon-shared-folder-open:before { content: "\e611"; }

.icon-folder-open1:before { content: "\e614"; }

.icon-folder:before { content: "\e615"; }

.icon-shared-folder:before { content: "\e616"; }

