.navbar {
    display: flex;
    justify-content: space-between;
}
.post-area {
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
    .post-btn {
        float: right;
    }
}
.topic-list{
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
}
.topic {
    border-bottom: 1px solid #bbb;
    padding: 8px 2px;
}
.topic-author {
    font-size: 12px;
}
